<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>carNumberList</display-name>
  <servlet>
    <description></description>
    <display-name>servletCarNumber</display-name>
    <servlet-name>svtCarNumber</servlet-name>
    <servlet-class>com.tdtc.web.PastTimeList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>svtCarNumber</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  
  <distributable/>
  <servlet>
    <description></description>
    <display-name>ConnectionServlet</display-name>
    <servlet-name>ConnectionServlet</servlet-name>
    <servlet-class>com.tdtc.web.ConnectionServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionServlet</servlet-name>
    <url-pattern>/ConnectionServlet</url-pattern>
  </servlet-mapping>
  
  <context-param>
    <param-name>xmlPath</param-name>
    <param-value>com\tdtc\xbf\configP.xml</param-value>
  </context-param>
</web-app>